*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'poppins','sans-serif';
    font-size: 1.2rem;
}
img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
    opacity: 0.05;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
}
.heading{
    width: 100%;
}
.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-cursor {
    display: inline-block;
    width: 2px;
    height: 25px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite;
}
.header{
    text-align: center;
    margin-bottom: 0.5rem;
}
.converter-box{
    gap: 2.5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.by-dir-way{
    font-size: 1.5rem;
}
.inputs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}
input{
    flex: 1 0 150px;
    padding: 1rem;
    border: none;
}
select{
    flex: 1 0 50px;
    padding: 1rem;
    color: white;
    border: none;
}
select:focus{
    outline: none;
}
select:focus>option{
    background-color: #323232;
}
#s-unit{
    background-color: blue;
}
#d-unit{
    background-color: orangered;
}
#feature-text{
    color: lime;
}
#info{
    font-size: 0.9rem;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@media(max-width:690px){
    .converter-box{
        flex-direction: column;
        gap: 2rem;
    }
    .by-dir-way{
        transform: rotate(90deg);
    }
}